<!DOCTYPE html>
<html lang="en">
<head>
    <title>AdminApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }

        p {
            font-size: 16px;
        }

        .margin {
            margin-bottom: 45px;
        }

        .bg-1 {
            background-color: #1abc9c; /* Green */
            color: #ffffff;
        }

        .bg-2 {
            background-color: #474e5d; /* Dark Blue */
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff; /* White */
            color: #555555;
        }

        .bg-4 {
            background-color: #2f2f2f; /* Black Gray */
            color: #fff;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
        }

        .navbar-nav li a:hover {
            color: #1abc9c !important;
        }
    </style>
    <script type="text/javascript"></script>
    <script>
	var data= "";
  function getSalesOrgData() {
		var cd = document.getElementById("code").value;
		console.log("Entered Code is "+ cd);
		var url = "https://dev.coatsd3.com/admin/salesorg/" + cd;
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open('GET', url, true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.status == 200) {
                data = eval("(" + xmlhttp.responseText + ")");
            } else {

                alert("Error ->" + xmlhttp.responseText);
            }
        };
		document.getElementById("salesOrgTest").innerHTML = data;
  }
</script>

<body>
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">SalesOrgData</h3>
    <form name="getData">
        SalesOrgID:<br>
        <input type="text" name="code" id="code" placeholder="ex:IN50" style="color: #2f2f2f">
        <br>
        <input type="button" onclick="getSalesOrgData()" value="Search" style="color: #2f2f2f>
    </form>
</div>

<div id="salesOrgTest" class="container-fluid bg-1 text-center>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
<p>Reach us <a href="https://www.coats.com">www.coats.com</a></p>
</footer>
</body>
</html>
